[submodule "evm"]
	path = evm
	url = https://github.com/aurora-is-near/evm
	branch = berlin-support
[submodule "jsontests/res/ethtests"]
	path = jsontests/res/ethtests
	url = https://github.com/ethereum/tests
