[submodule "evm"]
	path = evm
	url = https://github.com/aurora-is-near/sputnikvm
[submodule "jsontests/res/ethtests"]
	path = jsontests/res/ethtests
	url = https://github.com/ethereum/tests
	tag = v12.3
